.copy-first h1 {
  margin: 0;
  color: #484b54;
  font-family: CircularBold;
}

.copy-first button {
  background-color: white;
  color: #484b54;
  font-family: CircularBold;
  border-radius: 15px;
  border: none;
  padding: 5px 15px 6px 15px;
  text-transform: capitalize;
}

.copy-first button:hover {
  color: white;
  background-color: #eb5b44;
}

.sport img {
  max-width: 500px;
}

@media screen and (min-width: 901px) {
  .copy-first {
    display: flex wrap;
    margin-left: 50%;
    margin-top: 0%;
    min-width: 400px;
  }

  .copy-first h1 {
    text-align: left;
    margin-left: 0%;
    font-size: 1.75em;
    margin-bottom: -4%
  }

  .copy-first button {
    margin-top: 8%;
    font-size: 18px;
    margin-left: -70%;
  }

  .sport-mobile img {
    display: none;
  }

  .sport img { 
    max-height: 500px;
    margin-left: -250px;
    margin-top: -180px;
    position: absolute;
  }

}

@media screen and (max-width: 900px) {

  .flex-container-first {
    display: flex wrap;
    align-content: center;
    justify-content: center;
  }

  .sport-mobile img {
    margin-bottom: -10px;
    max-height: 350px;
    margin-left: 0%;
    z-index: -5;
    overflow: hidden;
  }

  .sport img {
    display: none;
  }

  .copy-first {
    padding-top: 0px;
  }

  .copy-first h1 {
    font-size: 1.25em;
    text-align: center;
    z-index: 1;
  }


  .copy-first button {
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 4%;
    font-size: 18px;
  }

  .hero-first div {
    opacity: 1;
    padding-bottom: 1%;
    overflow: hidden;
  }
}