.copy-bCorp h1 {
  color: #484b54;
  font-family: CircularBold;
}
.bCorp  {
  overflow: hidden;
}
.copy-bCorp button {
  background-color: white;
  color: black;
  font-family: CircularBold;
  border-radius: 15px;
  border: none;
  padding: 5px 15px 6px 15px;
  text-transform: capitalize;
}

.copy-bCorp button:hover {
  background-color: #49c15f;
  color: white;
}

.essential img {
  max-width: 500px;
}

@media screen and (min-width: 801px) {
  .flex-container-bCorp {
    display: flex wrap;
    align-content: left;
    margin-left: 0px;
    max-width: 800px;
    margin-top: 60px;
  }

  .essential-mobile img {
    display: none;
  }

  .essential img { 
    max-height: 500px;
    margin-left: -250px;
    margin-top: -180px;
    position: absolute;
   }
  
  .copy-bCorp {
    display: flex wrap;
    margin-left: 50%;
    margin-top: 0%;
    min-width: 400px;
  }

  .copy-bCorp h1 {
    text-align: left;
    margin-left: 0%;
    font-size: 1.75em;
    margin-bottom: -4%;
    margin-top: -10px;
  }

  .logo-bCorp img {
    display: none;
  }

  .copy-bCorp button {
    display: flex;
    margin-top: 8%;
    margin-left: 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .flex-container-bCorp {
    display: flex wrap;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
  }

  .essential img {
    display: none;
  }
  .essential-mobile img {
    max-height: 350px;
    margin-bottom: 0px;
  }

  .copy-bCorp {
    margin-top: -6%;
    margin-bottom: 60px;
  }

  .copy-bCorp h1 {
    text-align: center;
    font-size: 1.25em;
    padding-left: 0px;
    margin-bottom: -30px;
  }

  .copy-bCorp button {
    margin-top: 15%;
    margin-left: 0%;
    font-size: 18px;
  }

  .logo-bCorp img {
    max-width: 280px;
    margin-top: -50px;
  }

  div.hero-bCorp {
    padding-top: 0%;
    overflow: hidden;
  }
}